# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml

# IDE
.idea/
*.iml
*.iws
*.ipr
.classpath
.project
.settings/
.factorypath
.vscode/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

Claude.md
Contract-Guardian-Architecture.md

.claude
.vscode

